<label for={{concat idPrefix "country"}} class="label-wrapper">
  <span class="label-text">Country</span>
  {{una-countries-dropdown actionName="countrySelectChange" ddID=(concat idPrefix "country") name="delivery_country" required="true" class="input-value" country=country}}
</label>

<label for={{concat idPrefix "line_1"}} class="label-wrapper">
  <span class="label-text">Address line 1</span>
  {{ input type="text" name="delivery_line_1" id=(concat idPrefix "line_1") required="required" class="input-value" placeholder="Address line 1" value=address1 }}
</label>

<label for={{concat idPrefix "line_2"}} class="label-wrapper">
  <span class="label-text">Address line 2</span>
  {{ input type="text" name="delivery_line_2" id=(concat idPrefix "line_2") class="input-value" placeholder="Address line 2 (optional)" value=address2 }}
</label>

<label for={{concat idPrefix "town_city"}} class="label-wrapper">
  <span class="label-text">Town / City</span>
  {{ input type="text" name="delivery_town_city" id=(concat idPrefix "town_city") required="required" class="input-value" placeholder="Town / City" value=townCity }}
</label>

<label for={{concat idPrefix "county"}} class="label-wrapper">
  <span class="label-text">County (optional)</span>
  {{ input type="text" name="delivery_county" id=(concat idPrefix "county") class="input-value" placeholder="County (optional)" value=county }}
</label>

<label for={{concat idPrefix "postcode"}} class="label-wrapper">
  <span class="label-text">Postcode</span>
  {{ input type="text" name="delivery_postcode" id=(concat idPrefix "postcode") required="required" class="input-value" placeholder="Postcode" value=postcode }}
</label>