<label for="title" class="field">
  <span class="field__label">Title</span>
  <select name="title" id="title" onchange={{action "selectTitle" value="target.value"}}>
    {{#each titles as |t|}}
      <option value="{{t}}">{{t}}</option>
    {{/each}}
  </select>
</label>
{{validation-error error=errors.title}}

<label for="first_name" class="field">
  <span class="field__label">First name</span>
  {{input type="text"
  name="first_name"
  id="first_name"
  value=firstName
  required="required"
  maxlength="17"
  placeholder="First name"
  }}
</label>
{{validation-error error=errors.firstName}}

<label for="last_name" class="field">
  <span class="field__label">Last name</span>
  {{input type="text"
  required="required"
  name="last_name"
  id="last_name"
  value=lastName
  class="input-value"
  maxlength="20"
  placeholder="Last name"
  }}
</label>
{{validation-error error=errors.lastName}}

<label for="telephone_number" class="field">
  <span class="field__label">Telephone number</span>
  {{input type="text"
  pattern="tel"
  name="telephone_number"
  id="telephone_number"
  required="required"
  value=telNumber
  class="input-value"
  maxlength="20"
  placeholder="Telephone number"
  }}
</label>
{{validation-error error=errors.telNumber}}